.admin-products {
    width: calc(100% - 30rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgb(245, 245, 241);
    min-height: calc(100vh - 8rem);
    transform: translateX(30rem);
}

@media (max-width: 1060px) {
    .admin-products {
        grid-column: full-start / full-end;
        margin-top: 7rem;
    }
}

.admin-add-products {
    display: block;
    margin: 2rem 0;
    align-self: flex-start;
    margin-left: 3rem;
}

.no-product {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
    height: 80vh;
}

.no-product > * {
    transform: translateY(-6rem);
}

.no-product  svg{
    fill: var(--color-primary);
    height: 10rem;
    width:10rem;
    margin-bottom: 2rem;
}

.no-product  span {
    padding: 0 .5rem;
}