.admin-products {
    grid-row: 3 / 4;
    grid-column: col-start 2 / col-end 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgb(245, 245, 241);
}

.admin-add-products {
    position: fixed;
    top: 10rem;
    left: 4rem;
    display: block;
}