.sidebar__category {
    height: 7rem;
    width: 100%;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;
    color: var(--color-white);
    z-index: 2;
    position: relative;
}

.sidebar__category svg {
    transition: all .3s ease-in-out;
}

.sidebar__category.rotateIcon svg {
    transform: rotate(-180deg);
}

@media (max-width: 1199px) {
    .sidebar__category {
        justify-content: center;
        padding: 2.5rem;
    }
    .sidebar__category svg {
        transform: translateX(2.9rem);
    }

    .sidebar__category.rotateIcon svg {
        transform: translateX(2.9rem) rotate(-180deg);
    }
}

.sidebar__category__hamburger {
    height: 1.3rem;
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
    transform: translateY(-1px);
}



.sidebar__category__hamburger span {
    width: 100%;
    height: 1px;
    background: white;
}

@media (max-width: 1199px) {
    .sidebar__category__hamburger {
        transform: translateY(-1px) translateX(-2rem);
    }

}


