.delivery {
    width: 100%;
    margin-top: 2rem;
    padding-left: 10%;  
}



.delivery__option {
    display: flex;
    margin: 1rem 0;
}

.delivery__option input {
    margin-right: 2rem;
}

.delivery section .checkout__title__primary {
    text-transform: uppercase;
}

