.auth {
    grid-row: 3 / 4;
    grid-column: full-start / full-end;
    height: calc(100vh - 8rem);
    position: relative;
}

.auth__form {
    width: 34rem;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 2rem;
    border-radius: 3px;
}


.auth__default {
    position: absolute;
    right: 4rem;
    top: 4rem;
    background: var(--color-white);
    color: var(--color-primary);
    font-size: 1.2rem;
    display: inline-block;
    border-radius: 10rem;
    width: 4.4rem;
    height: 4.4rem;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease-in;
}

.auth__default.show {
    width: 16rem;
}

.auth__default span{
    position: absolute;
    right: 1.6rem;
    top: 0;
    bottom: 0;
    align-items: center;
    display: none;
    transition: all .3s ease-in;
}

.auth__default.show span {
    display: flex;
}


.auth__default svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background: var(--color-primary);
    fill: var(--color-white);
    border-radius: 50%;
    padding: .8rem;
    border: 1px solid black;
    width: 4rem;
    height: 4rem;
    transition: all .3s ease-in;
}

.auth__default.show svg {
    left: .2rem;
    right: auto;
}   