.auth {
    grid-row: 3 / 4;
    grid-column: full-start / full-end;
    height: calc(100vh - 8rem);
    position: relative;
}

.auth__form {
    width: 34rem;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 2rem;
    border-radius: 3px;
}