.shop--category {
    grid-row: 3 / 4;
    grid-column: col-start 2 / col-end 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(238, 238, 238);
}

.shop--category__title {
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    font-size: 1.5rem;
    color: var(--color-secondary)
  
}

.shop--category__title a {
    text-decoration: none;
    color: var(--color-primary)
}

.shop--category__title span {
 width: .5rem;
}