.admin {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    min-height: calc(100vh - 8rem);
}

.admin__nav {
  /*  margin-top: 2.6rem;*/
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.admin__nav__button {
    background: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgb(180, 180, 180);
}
.admin__nav__button:focus {
    outline: none;
}


.admin__nav__button:hover,
.admin__nav__button:active,
.admin__nav__button.active {
    background: var(--color-secondary);
}

