.checkout {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    width: 100%;
    min-height: calc(100vh - 8rem);   
    display: flex;
    align-items: center;
    flex-direction: column;
    background: red;
}