.deskNav {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;
    position: fixed;
    background: var(--color-primary);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deskNav__list {
    list-style: none;
    padding: 0;
    margin: 0 1.5rem;
    display: none;
    width: 30%;
    height: 60%;
}

.deskNav a {
  height: 90%;
  text-decoration: none;
}
.deskNav__logo {
  width: 25rem;
  height: 100%;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-white);
}



@media (min-width: 768px) {
    .deskNav__list {
      display: flex;
    }
  }
  

