.deskNav {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;
    position: fixed;
    background: var(--color-white);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 3rem;
}

.deskNav__top {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  position: fixed;
  width: 100%;
  height: 3rem;
  background: var(--color-primary);
}


.deskNav__list {
    list-style: none;
    padding: 0;
    margin: 0 1.5rem;
    display: none;
    width: 30%;
    height: 60%;
}

.deskNav a {
  height: 90%;
  text-decoration: none;
}
.deskNav__logo {
  width: 25rem;
  height: 100%;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-primary);
}



@media (min-width: 768px) {
    .deskNav__list {
      display: flex;
    }
  }
  

