.product {
    width: 92%;
    height: 20rem;
    padding: 1rem;
    background: var(--color-white); 
    border-bottom: 1px solid rgb(233, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@media (max-width: 887px) {
    .product {
        width: 100%
    }
  }

.product > * {
    height: 95%;
}

.product__image {   
    width: 20rem;
    padding: 2rem;


 

}

.product__description {
    flex: 1;
    padding-left: 2rem;
    position: relative;
    height: 69%;
}

.product__price {
    width: 15rem;
    overflow: hidden;
    font-size: 2.5rem;
    color: var(--color-secondary);
}



.product__price div {
    text-align: center;
    margin-top: 2rem;
}

@media (max-width: 1020px) {
    .product {
        position: relative;
    }
    .product__price {
        position: absolute;
        height: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 6rem;
        top: 3rem;
        width: 10rem;

    }

    .product__price div {
        margin-top: 0;
    }
}

@media (max-width: 611px) {
    .product__price {
        top: 10rem;
        right: 1rem; 

    }

    .product {
        height: 38rem;
        flex-direction: column;
    }

    .product__description {
        height: 80%;
        width: 90%;
    }
}

@media (max-width: 350px) {
    .product__description {
        width: 95%;
    }

    .product {
        height: 48rem;
    }

    .product__price {
        top: 12rem;
        font-size: 2rem;
    }
}



.product__header {
    width: 100%;
    height: 20%;
    font-size: 2rem;
    display: flex;
    align-content: center;
    flex-direction: column;  
    margin-bottom: 2rem;
}

@media (max-width: 611px) {
    .product__header {
        margin-bottom: 0rem;     
    }
}

.product__title {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    color: var(--color-primary);
}
 
.product__description p {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: 3rem;
}

@media (max-width: 611px) {
    .product__description p {
        margin-top: 1rem;
    }
}

.product__date {
    font-size: 1.2rem;
    color: var(--color-grey);
}

.product__actions {
    position: absolute;
    bottom: -3.7rem;
    left: 0;
    right: 0;
    margin: auto;
    height: 5rem;
}

@media (max-width: 611px) {
    .product__actions  {
        bottom: 1.5rem;      
    }

    .product > * {
        height: 44%;
    }

}



