.input-range__track.input-range__track--active {
    background: var(--color-secondary)
}

div.input-range__slider {
    background: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}