.checkout {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    width: 100%;
    min-height: calc(100vh - 8rem);   
    display: flex;
    align-items: center;
    flex-direction: column;   
}



.checkout__title__primary {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--color-primary);
}


.checkout__steps {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 4rem;
    margin-top: 5rem;   
}

@media (max-width: 556px) {
    .checkout__steps {
        width: 70vw;
    }
}

@media (max-width: 352px) {
    .checkout__steps {
        width: 85vw;
    }
}

@media (max-width:280px) {
    .checkout__steps {
        width: 95vw;
    }
}

.checkout__steps__line {
   width: 100%;
   height: .5rem;
   position: relative;
  
}

.checkout__steps__line svg {
    fill: var(--color-secondary);
    z-index: 2;
    position: absolute;
    background: white;
    transform: translateY(-110%);
    left: 2rem;   
}

.checkout__steps .delivery svg {
    left: 0;
    right: 26%;
    margin: auto;
}

.checkout__steps .payment svg {
    left: 30%;
    right: 0;
    margin: auto;
}

.checkout__steps__line__bellow {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(216, 216, 216);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.checkout__steps__line__upper {
    height: 100%;
    width: 10%;
    position: absolute;
    background: var(--color-secondary);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

.checkout__steps__line__upper.delivery {
    width: 37%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.checkout__steps__line__upper.payment {
    width: 65%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.checkout__steps__name {
    width: 100%;
    height: calc(100% -  .5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout__steps__name div {
    text-transform: uppercase;
}

.checkout__addresses {
    width: 100%;
    margin: 2rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    grid-template-rows: repeat(auto-fit, 30rem );
    grid-auto-rows: 30rem;
    column-gap: 12rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.checkout__addresses__item {
    padding: 1rem;
    width: 100%;
   height: 23rem;
}

.checkout__addresses__item__details {
    height: 50%;
}

.checkout__addresses__item__details div:not(:first-child){
    font-size: 1.1rem;
    line-height: 1.3;
}

.checkout__addresses__item__name {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.checkout__addresses__item__choose {
    margin: 2rem 0;
    width: 100%;
    padding: 1rem 0;
    border-radius: 3px;
    background: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
}

.checkout__addresses__item__choose:hover,
.checkout__addresses__item__choose:active {
        background: var(--color-secondary);
        border: 1px solid var(--color-secondary);
        color: var(--color-white);
    }

.checkout__addresses__item__cta {
    display: flex;
    justify-content: space-around;
}






