.input {
    margin: 1.5rem 0;
    width: 90%;
    height: 4rem;

}

.input__field {
    height: 3rem;
}

.input label {
    display: block;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.input input,
.input textarea {
    display: block;
    font: inherit;
    padding: .25rem .5rem;
    width: 90%;
    border-radius: 3px;
    border: 1px solid var(--coloor-grey)
}

.input input:focus,
.input textarea:focus {
    outline: none;
}

.textarea {
    resize: none;
    height: 8rem;
}