.input {
    margin: .5rem 0;
    width: 80%;
    height: 100%;
    padding: .5rem 0;

}

.input .input__field {
    height: 3rem;
    width: 100%;
    
}

.input label {
    display: block;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.input input,
.input textarea {
    display: block;
    font: inherit;
    padding: .25rem .5rem;
    width: 100%;
    border-radius: 3px;
    border: 1px solid var(--color-grey)
}
   



.input input:focus,
.input textarea:focus,
.input select:focus {
    outline: none;
}


.textarea {
    resize: none;
    height: 8rem;
    margin-bottom: 4rem;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}