.addProduct {
    grid-row: 2 / 3;
    grid-column: center-start / center-end;
    width: 100%;
    height: 60vh;
    
}

.addProduct__form {
    background: grey;
    padding: 2rem;
    width: 50%;
}

