.addProduct__form {
    background: grey;
    padding: 2rem;
    width: 40rem;
    height: 30rem;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    margin: auto;

   
}

