.sidebar {
    grid-column: col-start 1 / col-start 2;
    grid-row: 3 / 4;
    height: calc(100vh - 8rem);
    width: 27rem;
    top: 8rem;
   /* background: red;*/
    position: fixed;
    left: 0;
    right: 85rem;
    margin: auto;
    overflow: hidden;
}





.sidebar__price {
    background: red;
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.sidebar__price__title {
    align-self: flex-start;
}

.input-range__label--max,
.input-range__label--min {
    display: none;
}