.sidebar {
    grid-column: col-start 1 / col-start 2;
    grid-row: 3 / 4;
    height: calc(100vh - 8rem);
    width: 27rem;
    top: 8rem;
    position: fixed;
    left: 0;
    right: 85rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
}

@media (max-width: 1199px) {
    .sidebar {
        position: fixed;
        right: 0;
        height: 21%;
        width: 100%;
        grid-column: center-start / center-end;
        z-index: 2000;
    }

    .sidebar.sidebar--show {
        height: 90%;
    }
}







.sidebar__price {
    height: 13rem;
    max-height: 15rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -10rem;
    width: 100%;
    color: var(--color-white);
    transform: translateY(3rem);
    z-index: -1;   
   
}

.sidebar__price__input {
    width: 90%;
    height: 8rem;     
    position: relative;
    z-index: 1;
    transition: all .2s ease-in-out;
}

@media (max-width: 1199px) {
    .sidebar__price__input {
        width: 100%;
        background: var(--color-white);
        padding: 0 35rem;
    }
}

@media (max-width: 999px) {
    .sidebar__price__input {
        padding: 0 30rem;
    }
}

@media (max-width: 799px) {
    .sidebar__price__input {
        padding: 0 20rem;
    }
}

@media (max-width: 616px) {
    .sidebar__price__input {
        padding: 0 10rem;
    }
}

@media (max-width: 370px) {
    .sidebar__price__input {
        padding: 0 3rem;
    }
}

.sidebar__price__input--hide{
    transform: translateY(-8rem);   
    opacity: 0;
}

.sidebar__price__title {
    background: rgb(185, 185, 185);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    
}

.sidebar__price__title span {
    font-size: 1.3rem;
  
}

.sidebar__price__title span:nth-child(2) {
    width: 11rem;
    text-align: center;
}

.sidebar__price__title svg {
    transition: all .3s ease-in-out;
}

.sidebar__price__title.rotateIcon svg {
    transform: rotate(-180deg)
}

.input-range__label--max,
.input-range__label--min {
    display: none;
}

.sidebar__sort {
    background: rgb(185, 185, 185);
    height: 5rem;
    max-height: 5rem; 
    position: absolute;
    bottom: -18rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-white);
    font-size: 1.3rem;
    padding: 0 2.2rem;
    transition: all .2s ease-in-out;
}

@media (max-width: 1199px) {
    .sidebar__sort {
        justify-content: center;
    }

    .sidebar__sort span {
        margin-right: 2rem;
    }
    
  }

.sidebar__sort svg {
    transform: translateX(-.1rem)
} 

.sidebar__sort__goTop {
    transform: translateY(-8rem);
}

@media (max-width: 600px) {
    .sidebar__sort__goTop {
        transform: translateY(-8.2rem);
    }
  }