.single-product {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    height: calc(100vh - 8rem);
    width: 100%;


    
}

.single-product article {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.single-product__image {
    width: 60%;
    height: 80%;
    position: relative;
}

.single-product__details {
    width: 40%;
    height: 80%;
    position: relative;
}

.single-product__details__title {
    font-size: 2.7rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.single-product__details__date {
    margin-bottom: 3rem;
    color: var(--color-grey);
}

.single-product__details__price {
    position: absolute;
    right: 0rem;
    top: 0;
    padding: .4rem 4rem;
    font-size: 2rem;
    background: var(--color-secondary);
}

.single-product__details__cta {
    bottom: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
}