.single-product {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    height: calc(100vh - 8rem);
    width: 100%;
    min-height: calc(100vh - 8rem);   
}

.single-product article {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
  
}

@media (max-width: 773px) {
    .single-product article {
      flex-direction: column;
      position: relative;
    }
}

@media (max-width: 455px) {
    .single-product article {
        width: 100%;
        height: 95%;
        margin-bottom: 0;
        padding-bottom: 8rem;
    }
}

.single-product__image {
    width: 50%;
    height: 80%;
}

@media (max-width: 773px) {
    .single-product__image {
        width: 80%;
        height: 100%;
    }
}

@media (max-width: 455px) {
    .single-product__image {
        width: 100%;
        max-width: 100%;
    }
}


.single-product__details {
    width: 50%;
    height: 80%;
}

@media (max-width: 773px) {
    .single-product__details {
        width: 85%;
        
    }
}

@media (max-width: 455px) {
    .single-product__details {
        width: 100%;
        height: auto;
        padding-top: 2rem;
    }
}

.single-product__details p {
    width: 85%;

}

@media (max-width: 773px) {
    .single-product__details p {
        margin-bottom: 1.5rem;
        width: 100%;
    }
}

.single-product__details__title {
    font-size: 2.7rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.single-product__details__date {
    margin-bottom: 1rem;
    color: var(--color-grey);
}

.single-product__details__price {
    padding: .4rem;
    text-align: start;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.single-product__details__cta {
    margin-top: 3rem;
    width: 100%;
}

@media (max-width: 773px) {
    .single-product__details__cta {
      position: absolute;
      bottom: -6rem;
      left: 0;
      right: 0;
      margin: auto;    
    }      
}

@media (max-width: 455px) {
    .single-product__details__cta  {
        bottom: 2rem;
    }
}