.navigationItems {
    padding: 0 1.5rem;
    margin: 0 1rem;
    font-size: 1.4rem;
}

.navigationItems.mobile {
    font-size: 1.75rem;
    margin: .5rem 0;
}

.navigationItems a {
    text-decoration: none;
    color: var(--color-primary)
}

.navigationItems a:hover,
.navigationItems a:active,
.navigationItems a.active {
    color: var(--color-secondary)
}

.navigationItems.mobile a {
    color: #3b0062;
}
  


.navigationItems button {
    font: inherit;
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
    padding: 0;
}

.navigationItems button:hover,
.navigationItems button:active {
    color: grey;
}



