.shop {
    grid-row: 2 / 3;
    grid-column: center-start / full-end;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(218, 238, 240);
}