:root {
  /* COLOR */ 
  --color-white : #fff;
  --color-primary: #3a3665;
  --color-secondary: #04776e;
  --color-grey: #989084;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  html {
    font-size: 55%;
  }
}


body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.centered {
  text-align: center;
}

.flex-centered-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-centered-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spacer_sidebar_mobile {
  display: none;
}

@media (max-width: 1199px) {
  .spacer_sidebar_mobile{
      grid-row: 4 / 5;
      grid-column: full-start / full-end;
      height: 17rem;
      display: block;
  }
}



